/*reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-size: 10px;
}

/*se a tela tiver pelo menos 400px, vai carregar estes estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 20px;
    transition: color .6s;
}

@media (min-width: 400px) {
    .menu ul {
        width: 60vw;
    }
}

@media (min-width: 400px) {
    .menu a {
        font-size: 1.1em;
    }
}

.menu a:active,
.menu a:hover {
    color: rgb(0, 100, 200);
}

a {
    color: white;
    text-decoration: none;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

.site-subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.8em;
    white-space: nowrap;
}

.site-subtitle::after {
    content: '|';
    margin-left: 4px;
    animation: blink .5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sobre,
.contato,
.conhecimento {
    padding: 2em;
}

.sobre {
    min-height: 100vh;
}

.conhecimento {
    min-height: 50vh;
}

.contato {
    height: fit-content;
}

@media(min-width: 600px) {
    .conhecimento {
        min-height: 100vh;
    }
    .contato {
        min-height: 70vh;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }   
}

.sobre h2,
.contato h2,
.conhecimento h2 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.sobre h2::after,
.conhecimento h2::after,
.contato h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: rgb(0, 0, 218);
    margin: 4px auto auto auto;
}

.sobre p {
    font-size: 15px;
    color: white;
    text-indent: 1.4em;
    margin-top: 1em;
    text-align: justify;
}

@media (min-width: 400px) {
    .sobre p {
        font-size: 19px;
    }
}

@media (min-width: 600px) {
    .sobre p {
        font-size: 23px;
    }
}

.sobre a {
    color: rgb(4, 133, 255);
}

.sobre a:hover {
    text-decoration: rgb(4, 133, 255) underline;
}

.sobre .avatar {
    display: flex;
    justify-content: center;
}

.sobre .avatar img {
    margin-bottom: 12px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

@media (min-width: 600px) {
    .sobre .avatar {
        float: right;
        margin-left: 2em;
    }
}

.conhecimento {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.conhecimento ul {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 400px){
    .conhecimento ul {
        max-width: 350px;
    }
}

@media(min-width: 600px){
    .conhecimento ul {
        max-width: 500px;
    }
}

.conhecimento li {
    float: left;
    display: block;
    font-size: 1.5em;
    font-weight: 300;
    padding: 4px 16px;
    margin: 16px 16px 0 0;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    color: #fff;
}

.contato .icons {
    text-align: center;
}

.contato a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0 0 10px rgb(0, 0, 218);
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

footer p {
    color: whitesmoke;
    font-size: 1.2em;
}