/*reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.jpg');
    background-size: 1350px 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 10px;
}

/*se a tela tiver pelo menos 400px, vai carregar estes estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color: white;
}

a {
    color: teal;
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */

.title {
    transform: scale(.2) translateY(50vh);
    opacity: 0;

    animation: linear 2s animacao-titulo forwards;
}

@keyframes animacao-titulo {
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

.contato,
.portfolio {
    min-height: 100vh;
    padding: 2em;
}

.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media(min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media(min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 48px - 8em);
    }
}

figcaption {
    color: lightgray;
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    width: 240px;
    height: 180px;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 5px;
    transition: transform .5s;
}

.img-portfolio:hover {
    transform: scale(1.1);
}

.contato .icons {
    text-align: center;
}

.contato a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}